<IfModule mod_rewrite.c>
    RewriteEngine on

    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule  ([a-zA-Z0-9/-]*)  public/app.php?url=$1 [QSA,L]
</IfModule>